@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  list-style-type: none;
  /* color: red; */
}

img {
  max-width: 100%;
}

ul li {
  font-size: 13.5px;
}

ul li a {
  color: #fff !important;
}

.navbar-nav .nav-item .sample:hover {
  color: black !important;
  opacity: 0.6;
}

.dropdown-menu {
  border: none !important;
  background-color: transparent !important;
}

ul .dropdown-menu a {
  /* color: black !important; */
  opacity: 0.7;
}

ul .dropdown-menu a:hover {
  /* color: black !important; */
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 500;
  border-radius: 20px;
}

main {
  background-image: url("./Images/bg.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.543);
  min-height: 500px;
  background-blend-mode: multiply;
  color: #fff !important;
}
